body {
    background-size: cover;
    font-family: Text Me One;
    font-size: 1.8em;
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&h=650&w=940)
}

.category {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(222, 229, 235);
    text-align: center;
    color: white;
    transition: background 1s, transform 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}